.introduction__wrapper {
  background-image: url("/img/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #68a2ca;
}

.introduction__container {
  padding: 32px 20px 16px 18px;
  text-align: center;
}

.introduction__logo {
  display: block;
  margin: 0 auto;
  padding: 90px 0 85px 0;
}

.introduction__title {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .introduction__container {
    padding: 47px 124px 56px;
  }
}

@media (min-width: 1200px) {
  .introduction__container {
    padding: 59px 357px 45px;
  }
}
