.introduction__wrapper {
  background-image: url("../img/intro-back-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #68a2ca;
}

.introduction__container {
  padding: 32px 20px 16px 18px;
  text-align: center;
}

.introduction__logo {
  display: block;
  margin: 0 auto;
  padding: 90px 0 85px 0;
}
